ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
li {
  width: 100px;
  height: 100px;
}

